.intro{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding:4vw 2vw;
    align-items: center;
    color:var(--whiteColor);
}
.intro h1{
    font-size: 10vw;
}
.intro form{
    width: 40vw;
    position: relative;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter:blur(2em);
    color: black;
    padding:2vw;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 10vw;
    margin-bottom:10vw;
    z-index: 0;
}
.intro form h3{
    color:rgba(255,255,255,0.7);
    font-size: 2vw;
}
.intro input{
    width: 100%;
    margin-top: 2vw;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter:blur(2em);
    border:none;
    font-size: 1.5vw;
    border-radius: 2vw;
    padding:1vw 3vw;
}
.intro form input:focus{
    outline: none;
    transform:scale(1.01);
}
.intro form button{
    font-size: 1.2vw;
    background-color: rgba(255,255,255,0.7);
    padding:1vw 3vw;
    border-radius: 2vw;
    margin-top: 2vw;
}
.intro form p{
    font-size: 1.2vw;
    color: rgba(255,255,255,0.7);
    margin-top: 2vw;
}
.intro form p>a{
    color: orange;
}
.square{
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(2em);
    border-radius: 2vw;
    animation-duration:3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: -2;
}
.square.first{
    animation-name:first;
    position: absolute;
    left: -4vw;
    top:0;
    width: 5vw;
    height: 5vw;
}
.square.second{
    width: 7vw;
    height: 7vw;
    top:-5vw;
    right:0;
    animation-name:second;
    position: absolute;
}
.square.third{
    width: 6vw;
    height: 6vw;
    bottom:-7vw;
    right:-7vw;
    animation-name:third;
    position: absolute;
}
.square.fourth{
    width: 8vw;
    height: 8vw;
    bottom:-7vw;
    right:-7vw;
    animation-name:fourth;
    position: absolute;
}
.square.fifth{
    width: 5vw;
    height: 5vw;
    bottom:-7vw;
    right:-7vw;
    animation-duration:8s;
    animation-name:fifth;
    position: absolute;
    animation-direction: normal;
}
@keyframes first{
    from{
        top:-5vw;
    }
    to{
        top:calc(100%);
    }
}
@keyframes second{
    from{
        right:100%;
    }
    to{
        right:-7vw;
    }
}
@keyframes third{
    from{
        bottom:-7vw;
    }
    to{
        bottom:100%;
    }
}
@keyframes fourth{
    from{
        right:-7vw;
    }
    to{
        right:100%;
    }
}
@keyframes fifth{
    from{
        top:-7vw;
        left: -7vw;
    }
    25%{
        top:-7vw;
        left:100%;
    }
    50%{
        top:100%;
        left: 100%;
    }
    75%{
        top:100%;
        left: -7vw;
    }
    to{
        top:-7vw;
        left: -7vw;
    }
}