.review{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:var(--whiteColor);
}
.review h2{
    text-align: center;
}
.review form{
    background-color:var(--whiteColor);
   
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding:3vw 3vw;
    border-radius: 2vw;
}
.review form textarea, .review form select{
    font-size: 2vw;
    width: 50vw;
    margin-top: 2vw;
    padding:1vw;
}
.review form button{
    margin-top: 2vw;
    background-color: green;
    padding:0.3vw 1vw;
    color: var(--whiteColor);
    border-radius: 2vw;
    font-size: 2.3vw;
}

@media screen and (max-width:768px){
    .review form{
        margin-top: 4vw;
    }
    .review form textarea, .review form select{
        font-size: 3vw;
        width: 90vw;
        margin-top: 4vw;
        padding:2vw;
    }
    .review form button{
        margin-top: 4vw;
        padding:2vw 4vw;
        font-size: 3.3vw;
    }
}