body{
    width: 100vw;
    min-height: 100vh;
    margin:0;
    padding:0;
    font-family: 'Oswald', sans-serif;
    position: relative;
    scroll-padding-top: 9vh;
    overflow-x:hidden;
    background: rgb(100,39,219);
    background: radial-gradient(circle, rgba(100,39,219,1) 0%, rgba(146,67,208,1) 18%, rgba(78,91,214,1) 50%, rgba(40,135,194,1) 76%, rgba(156,0,255,1) 100%); 
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

header{
    width: 100vw;
    position:fixed;
    padding:2vw 4vw;
    top:0;
    left: 0;
    display: flex;
    border-bottom:1px solid white;
    backdrop-filter: blur(2vw);
    z-index: 3;
    justify-content: space-around;
    align-items: center;
}
header > nav{
    position: relative;
    left: 0;
    top: 0;
    width: 80vw;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;

}
header > nav > a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    transition-duration:0.3s;
}
header > nav > a:hover{
    background: black;
    color:white;
}
header> img{
    width: 5vw;
    height: 2.5vw;
    position: absolute;
    top: auto;
    left: 3vw;
}
section{
    width: auto;
    font-size: 1.6em;
}

main{
    position: relative;
    scroll-margin-top: 9vh;
    padding:4.5vw 3vw;
}
footer{
    width: 80vw;
    margin-left: 20vw;
    margin-top: 5vw;
    height: auto;
    display: flex;
    flex-direction:column;
    justify-content: start;
    align-items: center;
}
h1,h2{
    font-size: 2.3em;
}
dt ~ dd{
    color:rebeccapurple;
}
dt + dd{
    font-size: 1.1em;
}
dt  {
    font-size: 1.5em;
}
dt>a{
    color: black;
}
footer h2{
    display: block;
    top: 0;
    left: auto;
}
address > ul {
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
address > ul > li > a:hover{
    font-size: 2em;
}
address > ul > li > a{
    color: black;
    text-decoration: none;
    font-size: 1.7em;
    transition-duration: 1s;
}
.comparison > img {
    float:right;
}
.hidden{
    display: none;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');