:root{
    --whiteColor:rgba(255,255,255,0.8);
}
*{
    margin:0;
    padding:0;
}
body{
    width: 100vw;
    height:max-content;
    margin:0;
    padding:0;
    font-family: 'Oswald', sans-serif;
    position: relative;
    overflow-x:hidden;
    background-color: #310e68;
background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
    background-size: 100% 100%;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

section{
    width: auto;
    font-size: 1.6em;
}

main{
    position: relative;
    scroll-margin-top: 9vh;
    padding:4.5vw 3vw;
}
footer{
    margin-top: 5vw;
    height: auto;
    display: flex;
    flex-direction:column;
    justify-content: start;
    align-items: center;
}
h1{
    font-size: 15vw;
}
h2{
    font-size: 10vw;
}
@media screen and (max-width:768px){
    h1{
        font-size: 7vw;
    }
    h2{
        font-size: 6vw;
    }
}
.comparison > img {
    float:right;
}
.hidden{
    display: none;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');