.university{
    color:rgba(255,255,255,0.8);
    display: flex;
    flex-direction:column;
    justify-content: start;
    align-items: center;
}
.university h2{
    width: 100%;
    text-align: center;
}
.universityContent{
    display: flex;
    justify-content: start;
    align-items: center;
    gap:1vw;
    width: 100%;
}
.place h3, .videoReview h3{
    margin:2vw;
    text-align: center;
    font-size: 3vw;
}
.place, .videoReview{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height:40vw;
}
.place{
    width: 50%;
}
.place iframe{
    width: 100%;
    height: 100%;
}
.videoReview{
    width: 50%;
    position: relative;
}
.videoReviewDescription{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 0%;
    height: 0%;
    background-color: rgba(0,0,0,0.9);
    border-radius: 50%;
    opacity:0;
    transition:all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.videoReview:hover > .videoReviewDescription{
    opacity:1;
    width: 80%;
    height: 80%;
    border-radius: 5%;
}
.videoReview iframe{
    width: 100%;
    height:100%;
}
@media screen and (max-width:768px){
    .university{
        padding:4vw 0;
    }
    .universityContent{
        flex-direction: column;
    }
    .place, .videoReview{
        width: 100%;
        height:75vw;
    }
    h3{
        font-size: 5vw;
        visibility:hidden;
    }
}